a, button {
    height: clamp(2.375rem, 4vw, 3rem);
    font-size: clamp(0.8rem, 1.5vw , 1rem);

    &.sm {
        padding: 0 1rem;
        height: clamp(2rem, 6vw , 2.5rem);
        font-size: 0.8rem;
    }

    &:disabled {
        cursor: not-allowed;
        opacity: .4;
    }
}

a {
    &:hover {
        text-decoration: underline;
    }
}